<%- include('partials/head')  %>
<%- include('partials/navbar')  %>
    <h1>The Home Page <%= 'hello World'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex recusandae optio temporibus sed tempora officia repellendus eveniet labore impedit, provident odit distinctio veniam sint cum natus suscipit id velit? Facilis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex recusandae optio temporibus sed tempora officia repellendus eveniet labore impedit, provident odit distinctio veniam sint cum natus suscipit id velit? Facilis?
    Harum, quasi quibusdam! Eveniet quaerat magnam corporis facere magni, autem nam esse odio molestiae ad enim unde officia deleniti quo quas nemo quod blanditiis dolores rem possimus! Fugit, blanditiis autem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium sequi suscipit quod optio, ducimus necessitatibus quos praesentium doloribus amet officia unde. Unde pariatur autem blanditiis omnis voluptatibus! Quae, nobis?
    Inventore, et quam. Asperiores, voluptatum! Facere, hic. Suscipit iusto unde, repellendus nostrum hic excepturi at enim laudantium? Et voluptate vel nam optio quasi ab, adipisci aliquid minima, voluptatum vero facilis.
    Commodi iusto corrupti, placeat quibusdam asperiores ducimus cupiditate assumenda vero qui porro esse illum vitae omnis non fuga voluptates voluptatem obcaecati. Quae nisi eos veniam cum similique enim tenetur eius!
    Odit, hic commodi. Excepturi asperiores animi tenetur dolorem tempore rem ratione, et numquam veniam corporis neque! Consequuntur dolorem, doloribus repellat blanditiis commodi autem quis ut voluptatibus quod magnam eligendi nesciunt.
    Temporibus aliquid ipsum dolores officia laborum voluptas aut non earum cumque. Voluptatum quisquam commodi alias repudiandae eaque dolores ipsam porro deleniti repellat architecto, exercitationem natus id provident, nemo corporis ab.</p>
<%- include('partials/footer')  %>