h1{
    text-align: center;
    font-weight: normal;  
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-style:dotted;
    letter-spacing: 10px;
    font-size: 70px;
    /* 만약 해당 컴퓨터에서 지원하지 않는 폰트라면 다른 백업 옵션을 , 뒤에 적는다.. */
    /* font-family: 'Segoe UI', fantasy, Arial, sans-serif; */
    font-family: monospace;
}

p{
    text-align: right;
    color: gray;
    font-weight: 700;
    line-height: 2;
}

a{
    /* 밑줄 없앰 */
    text-decoration: none;
    text-decoration: line-through;
}
